@keyframes blink {
    0% {
        border-color: rgba(33, 150, 243, 1)
    }
    50% {
        border-color: rgba(33, 150, 243, 0.3)
    }
    100% {
        border-color: rgba(33, 150, 243, 1)
    }
}

.blink-border {
    transition:all 0.5s ease-in-out;
    animation:blink normal 1.5s infinite ease-in-out;
}