.container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.blink-color {
    transition:all 0.5s ease-in-out;
    animation:blink-color-keyframes normal 2s infinite ease-in-out;
}

@keyframes blink-color-keyframes {
    0% {
        color: inherit;
    }
    50% {
        color: rgba(33, 150, 243, 1);
    }
    100% {
        color: inherit;
    }
}

.well {
    background-color: white;
    min-height: 0;
}

.popover {
    max-width: none;
}

.center-content {
    text-align: center;
    white-space: nowrap;
}

.center-content:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}