.glyphicon-resize-full {
    top: 3px;
}

.glyphicon-resize-small {
    top: 3px;
}

.glyphicon-eject {
    top: 3px;
}

.glyphicon-plus-sign {
    top: 2px;
}

.glyphicon-erase {
    top: 2px;
}

.glyphicon-list-alt {
    top: 2px;
}

.glyphicon-volume-off {
    top: 3px;
}

.glyphicon-volume-up {
    top: 3px;
}

.glyphicon-info-sign {
    top: 3px;
}

.glyphicon-remove-sign {
    top: 3px;
}

.glyphicon-question-sign {
    top: 2px;
}

.glyphicon-exclamation-sign {
    top: 3px;
}

.glyphicon-alert {
    top: 2px;
}

.glyphicon-cog {
    top: 2px;
}

.glyphicon-refresh {
    top: 2px;
}

.glyphicon-upload {
    top: 2px;
}

.glyphicon-bell {
    top: 3px;
}

.glyphicon-log-in {
    top: 2px;
}

.glyphicon-log-out {
    top: 2px;
}

.glyphicon-play-circle {
    top: 2px;
}

.fa-icon-trophy {
    position: relative;
    top: 1px;
}