.main h1 {
    text-align: center;
    font-size: 5vmax;
    text-decoration: underline;
    font-variant-caps: small-caps;
    font-style: italic;
    margin: 0 0 10px;
}

.main .panel {
    flex-grow: 1;
    margin: 7px;
    border: none;
}

.main .panel-heading {
    font-weight: bold;
    font-size: 18px;
    border: none;
}

.main .panel ul {
    margin: 0;
    padding-left: 20px;
}

.main .panel a {
    font-weight: bold;
}

.main .panel .panel {
    margin: 0;
    background-color: #f4f4f4;
}

.main-flex-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}