.modal-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 10%;
}

/* Um den border zu korrigieren*/
.modal-footer {
    margin-right: 1px;
}

.static-modal {
    position: static;
}

.static-modal .modal-dialog {
    margin: 0;
}