.navbar-brand {
    color: #8b8d8f;
    cursor: pointer;
    font-variant: small-caps;
    font-style: italic;
    text-decoration: underline;
}

.navbar-brand:hover {
    color: white;
    text-decoration: underline;
}

.navbar-inverse .navbar-nav > .open > .dropdown-menu {
    min-width: 180px;
    width: 100%;
    background-color: #222;
    border: 1px solid black
}

.navbar-inverse .navbar-nav > .open > .dropdown-menu > li > a {
    color: #9d9d9d;
}

.navbar-inverse .navbar-nav > .open > .dropdown-menu > li:hover > a {
    background-color: #222;
    color: white;
}

.navbar-inverse .navbar-nav > .open > .dropdown-menu > .active > a {
    background-color: #080808;
    color: white;
}

.navbar-inverse .navbar-nav > .open > .dropdown-menu > .active:hover > a {
    background-color: #080808;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #222;
}