.glyphicon-plus-sign {
    top: 2px;
}

.glyphicon-info-sign {
    top: 3px;
}

.glyphicon-remove-sign {
    top: 3px;
}

.glyphicon-alert {
    top: 2px;
}

.glyphicon-cog {
    top: 2px;
}

.glyphicon-log-in {
    top: 2px;
}

.glyphicon-log-out {
    top: 2px;
}

.glyphicon-play-circle {
    top: 2px;
}