.navbar-brand {
    color: #8b8d8f;
    cursor: pointer;
    font-variant: small-caps;
    font-style: italic;
    text-decoration: underline;
}

.navbar-brand:hover {
    color: white;
    text-decoration: underline;
}